@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: rgb(100, 116, 139);
}

html.dark {
  --color-bg: #121212;
  --color-text: rgb(100, 116, 139);
}

@theme inline {
  /* --color-background: var(--background); */
  /* --color-background-light: var(--background); */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
}

.gradient-light {
  background: linear-gradient(90deg, #facc15, #f59e0b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-dark {
  background: linear-gradient(90deg, #6366F1, #A855F7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* // 011824 Logo */
