@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

html.dark {
  --color-bg: #121212;
  --color-text: #f0f0f0;
}

@theme inline {

  /* --color-background: var(--background); */
  /* --color-background-light: var(--background); */

}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
    background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

/* // 011824 Logo */
