@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: rgb(100, 116, 139);
}

html.dark {
  --color-bg: #121212;
  --color-text: rgb(100, 116, 139);
}

@layer utilities {
  .primary-gradient {
    color: var(--primary-gradient);
  }
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: Poppins, sans-serif;
}

li {
  list-style: none;
}

.gradient-light {
  background: linear-gradient(90deg, #6366f1, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-light:hover {
  background: linear-gradient(90deg, #6366f1, #a855f7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-dark {
  background: linear-gradient(90deg, #d97706, #eab308);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hover-dark:hover {
  background: linear-gradient(90deg, #d97706, #eab308);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* // 011824 Logo */
